REDIS_HOST = localhost
REDIS_PORT = 6379
REDIS_DB = 0
PROFITABLE_DEALS_EXPIRE_TIME = 10
RATES_EXPIRE_TIME = 60
CHANGERS_EXPIRE_TIME = 70
BESTCHANGE_API_KEY = ca9e268244dc65f6cc044357e9d89840
NETWORK_SYMBOLS = ERC20,BEP20,SOL,POLYGO,TRC20,TON,BEP2,OPTM,ARBTM